body {
  margin: 0;
  width: 300px;
  height: 400px;
  overflow: hidden;
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  background: #222;
}

#ladder-container {
  position: absolute;
  width: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.ladder-segment {
  width: 20px;
  height: 40px;
  image-rendering: pixelated;
}

button {
  margin-top: 5px;
  width: 90%;
  height: 35px;
}